li {
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

.siema {
  height: 918px !important;
}

#Header {}

#navbar {
  margin: 0 auto;
  width: 98%;
  height: 130px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 112px;
}

.navbar-logo {
  width: 85.53px;
  height: 84.34px;
}

.navbar-list {
  display: flex;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 20px;
  gap: 30px;
}

.navbar-menu-item-text {
  font-family: "SVN-Gilroy", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;

  text-align: center;

  color: #000000;
}

.button-menu {
  width: 170px;
  height: 46px;
  background: #ed8338;
  border-radius: 7px;
  border: none;
}

.text-button-menu {
  font-family: "SVN-Gilroy", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */

  text-align: center;
  color: #ffffff;
}

#slider__ {
  width: 100%;
  display: flex;
  margin: 0 auto;
  height: 852px;
}

.bg-slider {
  width: 124px;
  height: 265px;
}

.slide__show {
  display: flex;
  width: 100%;
  height: 100px;
}

.slider-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  width: 670px;
  padding: 93px;
  margin: 0 !important;
}

.slider-content-header {
  width: 420px;
  height: 32px;

  /* SVN-Gilroy/Medium/Sub heading/Semibold */

  font-family: "SVN-Gilroy", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 150%;
  /* identical to box height, or 32px */

  /* Brand Color/Brand Color 2 */

  color: #f5751d;
}

.slider-content-title {
  width: 670px;
  height: 91px;
  font-family: "SVN-Gilroy", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  line-height: 120%;
  color: #111111;
  /* or 91px */

  /* Font/Heading */

  color: #111111;
}

.slider-content-desc {
  width: 500px;
  height: 96px;

  /* SVN-Gilroy/Medium/Sub heading/Regular */

  font-family: "SVN-Gilroy", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 150%;
}

.slider-content-input {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  width: 486.44px;
  height: 48px;
}

.slider-content-input input {
  width: 270.44px;
  height: 48px;
}

.slider-button-input {
  width: 208px;

  height: 48px;
  background: #459a88;
  box-shadow: 0px 2px 11px 2px rgba(200, 200, 200, 0.25);
  border-radius: 0px 7px 7px 0px;
}

.slider-button-input img {
  width: 18px;
  height: 18px;
}

.slider-button-input span {
  font-family: "SVN-Gilroy", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: white;
}

.img-slide-show {
  width: 46%;
  height: 918px;
  position: relative;
  right: 2px;
}

.img-slide-show img:last-child {
  position: relative;
  top: -454px;
}

/* Container */
#Container {
  width: 100%;
  height: 9999px;
}

#services {
  padding-left: 118px;

  height: 600px;

}

.services-tittle {
  display: flex;
}

.services-title-item {
  width: 713px;
  height: 182px;

  /* SVN-Gilroy/Heading Large/Bold */

  font-family: "SVN-Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 76px;
  line-height: 120%;
  /* or 91px */

  /* Font/Heading */

  color: #111111;
}

.list-content {

  padding-top: 35px;
  display: flex;
  flex-direction: column;
  padding-left: 41px;
  gap: 14px;

}

.list-content span {
  text-align: center;
  padding-right: 61px;
}

.services-list {
  display: flex;
  gap: 36px;
}

.services-title-avand-icon {
  width: 24px;
  height: 24px;
}

.services-items {
  width: 270px;
  padding-left: 33px;
  padding-top: 12px;
  height: 252px;
  background-color: #459a88;
  border-radius: 10px;
}

.services-icon {
  display: flex;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  background: #f9f6f3;
  justify-content: center;
  text-align: center;
  padding-top: 37px;
}

.services-icon img {
  width: 43px;
  height: 39px;
}

.name-icon-service {}

#about {
  padding-left: 118px;
  width: 100%;
  height: 1128px;

}

.about-title {
  height: 220px;

}

.about-title p {

  width: 647.76px;
  height: 27px;


  /* SVN-Gilroy/Medium/Sub heading/Bold */

  font-family: 'SVN-Gilroy', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 130%;
}

.about-title p:last-child {

  width: 353px;
  height: 68px;



  font-family: 'SVN-Gilroy', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 57px;
  line-height: 120%;
  /* or 68px */
}

.about-content {
  width: 100%;
  height: 300px;
  display: flex;
}

.about-content-bg {
  width: 611px;
  height: 517.45px;
  background: #459A88;
  margin-left: 3px;
}


.about-content-bg img {
  width: 470px;
  height: 578.52px;
  position: absolute;
  top: 1699.61px;
  left: 12px;
}

.about-content-main {
  margin-left: 47px;
}

.about-content-main-list {
  width: 772px;
  height: 1000px;
  display: flex;
  flex-wrap: wrap;
  gap: 14px
}

.about-content-main-item {
  width: 265px;
  height: 374px;

  width: 265px;
  height: 374px;
  background: #FFFFFF;
  box-shadow: 0px 20px 39px 5px rgba(148, 148, 148, 0.15);
  border-radius: 7px;
  padding-top: 24px;
  padding-left: 24px;
}


.about-content-main-icon {
  width: 48px;
  height: 48px;
  background-color: #F9F6F3;

  border-radius: 5px;
  padding-top: 15px;
  padding-left: 13px;

}

.about-content-main-icon img {
  width: 20px;
  height: 13px;
}

.about-content-main-title-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  width: 223px;
  height: 240px;
}

.about-content-main-title {
  width: 223px;
  height: 64px;
}

.about-content-main-title span {
  font-family: 'SVN-Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 150%;
  /* or 32px */


  /* Font/Heading */

  color: #111111;
}

.about-content-main-decs {
  width: 189px;
  height: 168px;
}

.about-number {
  width: 57px;
  height: 57px;
  background: #459A88;
  float: right;
  top: -49px;
  border-radius: 50%;
  position: relative;
  left: 13px;
  text-align: center;
  padding-top: 8px;
}

.about-number span {


  font-family: 'SVN-Gilroy', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 150%;
  color: white;
}


.about-content-main-decs sapn {
  font-family: 'SVN-Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */


  /* Font/Heading */

  color: #111111;

}

/* Footer    */
#Footer {
  width: 100%;
  height: 200px;
  padding-left: 118px;
  display: flex;
  gap: 128px;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
}

.address-title {
  width: 344px;
  height: 54px;

  /* SVN-Gilroy/Medium/Sub heading/Bold */

  font-family: 'SVN-Gilroy', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 130%;
  /* or 27px */


  color: #181818;

}

.list-address {
  display: flex;
  gap: 14px
}

.list-address img {
  width: 16px;
  height: 19px;
}

.list-address span {

  width: 305.11px;
  height: 72px;

  /* Medium/Paragraph/Regular */

  font-family: 'SVN-Gilroy', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.about-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  width: 150px;
}

.about-footer-title {
  width: 122px;
  height: 27px;



  font-family: 'SVN-Gilroy';
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 130%;
  /* or 27px */


  color: #181818;

}

.about-footer-item {
  width: 145px;
  height: 24px;

  /* Medium/Paragraph/Regular */

  font-family: 'SVN-Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */


  color: #181818;

}

.services-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;

}

.services-footer-title {
  width: 73px;
  height: 27px;

  /* SVN-Gilroy/Medium/Sub heading/Bold */

  font-family: 'SVN-Gilroy';
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 130%;
  /* or 27px */


  color: #181818;
}

.services-footer-item {
  width: 147px;
  height: 24px;

  /* Medium/Paragraph/Regular */

  font-family: 'SVN-Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */
}

.connect-footer {
  display: flex;
  flex-direction: column;
  gap: 26px;

}

.connect-footer-item {
  width: 179.75px;
  height: 52px;


}

#about-2 {
  padding-left: 118px;
  width: 100%;
  height: 859px;
  display: flex;
}

.about-2-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;

}


.about2-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;

  width: 570px;
  height: 216px;

}

.about2-title p:first-child {
  width: 540px;
  height: 136px;

  /* SVN-Gilroy/Heading Large/Bold */

  font-family: 'SVN-Gilroy';
  font-style: normal;
  font-weight: 700;
  font-size: 57px;
  line-height: 120%;
  /* or 68px */


  /* Shade/1 */

  color: #0D0D0D;

}

.about2-title p:last-child {
  width: 544px;
  height: 64px;

  /* SVN-Gilroy/Medium/Sub heading/Regular */

  font-family: 'SVN-Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 150%;
  /* or 32px */


  /* Font/Heading */

  color: #111111;


}

.about2-main-content-item-img {
  width: 52px;
  height: 52px;
}

.about2-main-content-item-img img {
  width: 23px;
  height: 17px;
}

.about2-main-content-list {}

.about2-main-content-item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;

  width: 571.18px;
  height: 114px;
}

.about2-main-item-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;

  width: 487.18px;
  height: 114px;
}

.about2-main-item-content p {
  width: 273px;
  height: 42px;

  /* SVN-Gilroy/Medium/Heading Small/Semibold */

  font-family: 'SVN-Gilroy', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 150%;
  /* identical to box height, or 42px */


  color: #000000;
}

.about2-main-item-content span {
  width: 448.8px;
  height: 64px;

  /* SVN-Gilroy/Medium/Sub heading/Regular */

  font-family: 'SVN-Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 150%;
  /* or 32px */


  /* Font/Heading */

  color: #111111;

}

.about-2-bg {

  position: relative;
  width: 400px;
  height: 517.45px;
  background: #459A88;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  right: 201px;
  top: 110px;
}

.about-2-bg img {
  position: relative;
  top: -96px;
  right: 102px;
  width: 470px;
  height: 578.52px;
}

#banner {
  width: 100%;
  height: 179.97px;
  background: #459A88;
  display: flex;
  justify-content: center;
  padding-top: 62px;
  gap:205px;
}

.list {
  display: flex;
  width: 765.17px;
  height: 75.26px;
  gap:64px;
}
#banner .title{
  width: 238px;
height: 49px;



font-family: 'SVN-Gilroy',sans-serif;
font-style: normal;
font-weight: 700;
font-size: 38px;
line-height: 130%;
/* or 49px */


}
.list-item img {
  width: 100%;
  height: 100%;
}

#internship-family {
  position: absolute;
  width: 100%;
  height: 629px;
  left: -208px;
  /* top: 5680px; */
  background-color: white;
}
.internship-family-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  position: absolute;
  width: 469px;
  height: 275px;
  left: 376px;
  top: 171px;
}

.internship-family-title-header {
  width: 369px;
  height: 27px;

  /* SVN-Gilroy/Medium/Sub heading/Bold */

  font-family: "SVN-Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 130%;
  /* or 27px */

  /* Brand Color/Brand Color 2 */

  color: #f5751d;
}
.internship-family-main-title {
  width: 369px;
  height: 136px;

  /* SVN-Gilroy/Heading Large/Bold */

  font-family: "SVN-Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 57px;
  line-height: 120%;
  /* or 68px */

  /* Font/Heading */

  color: #111111;
}
.internship -family-main-content {
  width: 469px;
  height: 72px;

  /* Medium/Paragraph/Regular */

  font-family: "SVN-Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}
.internship-1 {
  position: absolute;
  width: 470px;
  height: 117px;
  left: 975px;
  top: 111px;
  display: flex;
  box-shadow: 0px 20px 20px 5px rgb(148 148 148 / 15%);
  border-radius: 7px;
  /* padding-top: 17px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-right: 21px; */
}
.internship-2 {
  position: absolute;
  width: 470px;
  height: 117px;
  left: 1075px;
  top: 268px;
  box-shadow: 0px 20px 20px 5px rgb(148 148 148 / 15%);
  border-radius: 7px;
}
.internship-3 {
  position: absolute;
  width: 470px;
  height: 117px;
  left: 875px;
  top: 430px;

  box-shadow: 0px 20px 20px 5px rgb(148 148 148 / 15%);
  border-radius: 7px;
}
.avatar {
  width: 69px;
  height: 69px;
}
.inter-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 24px;
  position: absolute;
  width: 429px;
  height: 80px;
  left: 28px;
  top: 16px;
}
.internship-name {
  width: 133px;
  height: 24px;

  /* Medium/Paragraph/Bold */

  font-family: "SVN-Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */

  /* Font/Heading */

  color: #111111;
}
.internship-desc {
  width: 336px;
  height: 48px;

  /* Medium/Paragraph/Regular */

  font-family: "SVN-Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */

  /* Font/Heading */

  color: #111111;
}
.internship-profile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;

  width: 336px;
  height: 80px;
}
#hot-news {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 48px;
  position: absolute;
  width: 1153px;
  height: 694px;
  left: 172px;
  top: 4400px;
}
.hot-news-header {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 0px;

  width: 1169px;
  height: 68px;
}
.hot-news-title {
  width: 983px;
  height: 68px;

  /* SVN-Gilroy/Heading Large/Bold */

  font-family: "SVN-Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 57px;
  line-height: 120%;
  /* or 68px */

  /* Font/Heading */

  color: #111111;
}
.see-more {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;

  width: 107px;
  height: 24px;
}
.see-more span {
  width: 75px;
  height: 24px;

  /* Medium/Paragraph/Semibold */

  font-family: "SVN-Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */

  /* Brand Color/Brand Color 2 */

  color: #f5751d;
}
.hot-news-slider {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 30px;

  width: 1170px;
  height: 460px;
}
.hot-news-slide {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;

  width: 370px;
  height: 424px;
}
.hot-news-slide img {
  width: 370px;
  height: 230px;
}
.hot-news-slide-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;

  width: 370px;
  height: 162px;
}
.hot-news-title-slide {
  width: 370px;
  height: 72px;

  /* SVN-Gilroy/Medium/Heading Small/Bold */

  font-family: "SVN-Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 130%;
  /* or 36px */

  /* Font/Heading */

  color: #111111;
}
.hot-news-desc-slide {
  width: 370px;
  height: 74px;

  /* Medium/Paragraph/Regular */

  font-family: "SVN-Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */

  /* Font/Heading */

  color: #111111;
}
@media screen and (min-width: 1920px) {
  .img-slide-show {
    width: 46%;
    height: 918px;
    position: relative;
    right: -294px;
  }

  .img-slide-show img:last-child {
    position: relative;
    top: -713px;
  }
}
