li {
  list-style: none;
}
#wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
}
#Header {
}
#navbar {
  width: 100%;
  height: 130px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 112px;
}
.navbar-logo {
  width: 85.53px;
  height: 84.34px;
}
.navbar-list {
  display: flex;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 30px;
}
.navbar-menu-item-text {
  font-family: "SVN-Gilroy", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;

  text-align: center;

  color: #000000;
}

.button-menu {
  width: 170px;
  height: 46px;
  background: #ed8338;
  border-radius: 7px;
  border: none;
}
.text-button-menu {
  font-family: "SVN-Gilroy", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */

  text-align: center;
  color: #ffffff;
}
.background-image {
  z-index: 34;
  height: 100px;
}
.background {
  margin-top: 50px;
}
.slide-show {
  display: flex;
}
#slider {
  width: 100%;
  height: 850px;
  /* margin-top: 50px; */
}
.slider-content {
  position: absolute;
  width: 670px;
  height: 251px;
  left: 1px;
  top: 176px;
}
.slider-content-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
}
.slider-title span {
  font-family: "SVN-Gilroy", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 150%;
  color: #f5751d;
}
.slider-title .title {
  font-family: "SVN-Gilroy", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 76px;
  line-height: 120%;
  margin: 0;

  color: #111111;
}
.slider-desc {
  font-family: "SVN-Gilroy", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 150%;
  /* or 32px */

  /* Font/Heading */

  color: #111111;
}
.slider-input {
  width: 208px;
  height: 48px;
}
.slider-input .slider-input-item {
  position: absolute;
  width: 270.44px;
  height: 48px;
  left: 0px;

  background: #ffffff;
  box-shadow: 0px 2px 11px 2px rgba(200, 200, 200, 0.25);
  border-radius: 7px 0px 0px 7px;
  border: none;
}

.slider-input .slider-input-button {
  position: absolute;
  width: 270px;
  height: 48px;
  left: 278.44px;

  /* Brand color */
  border: none;
  background: #459a88;
  box-shadow: 0px 2px 11px 2px rgba(200, 200, 200, 0.25);
  border-radius: 0px 7px 7px 0px;
}
.slider-input-item::placeholder {
  width: 163px;
  height: 24px;
  left: 21.9px;
  top: 14px;

  /* Medium/Paragraph/Regular */

  font-family: "SVN-Gilroy", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */

  color: #989898;
}
.slider-input-btn-content {
  /* position: absolute;
  width: 170px;
  height: 27px;
  left: 297.13px;
  top: 12px; */
}
.slider-input-btn-content span {
  width: 138px;
  height: 24px;
  left: 329.13px;
  top: 15px;

  /* Medium/Paragraph/Semibold */

  font-family: "SVN-Gilroy", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */

  color: #ffffff;
}

.slider-img {
  position: relative;
  height: 20px;
  float: right;
  right: -707px;
  left: 7px;
  top: -41px;
}
.test {
  position: absolute;
  float: right;
  width: 1523.5px;
  height: 770.12px;
  left: -202px;
  top: 204px;
}
#services {
  position: absolute;

  height: 251px;
  left: 220px;
  margin: 0 auto;
}
.services-tittle {
  width: 100%;
  display: flex;
  margin-bottom: 50px;
}
.services-title-item {
  width: 423px;
}
.services-title-item span {
  font-family: "SVN-Gilroy", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 76px;
  line-height: 120%;
}
.services-title-avand {
  position: relative;
  left: 633px;
  top: 152px;
}
.title-avand {
  display: flex;
  gap: 8px;
}
.title-avand span {
  font-family: "SVN-Gilroy", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;

  /* identical to box height, or 24px */

  /* Brand Color/Brand Color 2 */
  color: #f5751d;
}
.services-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 30px;
}
.services-items {
  background: #459a88;
  border-radius: 10px;
  width: 270px;
  height: 252px;
}
.list-content {
  text-align: center;
  padding-top: 60px;
}

.eclip {
  width: 120px;
  height: 120px;
  margin: 0 auto;
  border: none;
  padding-top: 10px;
  border-radius: 50%;
  background: #f9f6f3;
  margin-bottom: 10px;
}
.icon-eclip {
  width: 47.6px;
  height: 36.83px;
  padding-top: 36px;
}
.name-services {
  width: 100px;
  height: 54px;

  /* SVN-Gilroy/Medium/Sub heading/Bold */
  font-family: "SVN-Gilroy", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 130%;

  /* or 27px */
  text-align: center;

  /* Background/Background 1 (White) */
  color: #ffffff;
}

#about {
  width: 89%;
  position: absolute;
  position: absolute;
  height: 2146.48px;
  left: 201px;
  top: 1867.33px;
}
.desc-title {
  font-family: "SVN-Gilroy", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 130%;
}
.title-about {
  font-family: "SVN-Gilroy", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 57px;
  line-height: 120%;
  /* or 68px */
}
.bg-img {
  position: absolute;
  width: 400px;
  height: 517.45px;
  left: 475px;
  top: 1970.6px;

  /* Brand color */

  background: #459a88;
}
.about-img {
  position: absolute;
  width: 470px;
  height: 578.52px;
  left: 375px;
  top: 1880.61px;

  background: url("img/Rectangle\ 68\ \(1\).png") no-repeat;
  border-radius: 0px 100px;
}
.about-img-1 {
  position: absolute;
  left: -171px;
  top: 265px;
}
.list-about {
  display: flex;
  width: 914px;
  float: right;
  position: relative;
  top: 204px;
  right: 146px;
  flex-wrap: wrap;
  gap: 32px;
}

.list-about-item {
  width: 249px;
  height: 354px;
  left: 1295px;
  top: 1784.33px;
  background: #ffffff;

  box-shadow: 0px 20px 39px 5px rgba(148, 148, 148, 0.15);
  border-radius: 7px;
  padding: 10px 30px;
}
.list-about-item-icon {
  width: 48px;
  height: 48px;
  left: 1001px;
  top: 1808.33px;
  text-align: center;
  background: #f9f6f3;
  /* background: yellow; */
  border-radius: 5px;
}
.list-about-item-icon img {
  padding-top: 16px;
}
.list-about-item-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;

  width: 223px;
  height: 240px;
  left: 1001px;
  top: 1872.33px;
}
.list-group-item-content-title {
  width: 223px;
  height: 64px;

  /* SVN-Gilroy/Medium/Sub heading/Semibold */

  font-family: "SVN-Gilroy", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 150%;
  /* or 32px */

  /* Font/Heading */

  color: #111111;
}
.list-group-item-content-desc {
  width: 189px;
  height: 168px;

  /* Medium/Paragraph/Regular */

  font-family: "SVN-Gilroy", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */

  /* Font/Heading */

  color: #111111;
}
.circle-number {
  width: 57px;
  height: 57px;
  left: 241px;
  top: -349px;
  background: #459a88;
  position: relative;
  text-align: center;
  border-radius: 50%;
  background: #459a88;
}
.circle-number p {
  font-family: "SVN-Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 150%;
  /* identical to box height, or 42px */

  /* Background/Background 1 (White) */

  color: #ffffff;
  padding-top: 8px;
}
.about-2 {
  position: absolute;
  width: 1169px;
  height: 710px;
  left: 323px;
  top: 3028.33px;
}
.about-2-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;
  width: 590.72px;
  height: 268px;
  left: 355px;
  top: 2679.33px;
}
.list-about {
}
.title-about-2-content {
  width: 555px;
  height: 136px;

  /* SVN-Gilroy/Heading Large/Bold */

  font-family: "SVN-Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 57px;
  line-height: 120%;
  /* or 68px */

  /* Shade/1 */

  color: #0d0d0d;
}
.desc-about-2-content {
  width: 570px;
  height: 64px;

  /* SVN-Gilroy/Medium/Sub heading/Regular */

  font-family: "SVN-Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 150%;
  /* or 32px */

  /* Font/Heading */

  color: #111111;
}
.about-2-list-item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;

  width: 571.18px;
  height: 114px;
  margin-bottom: 30px;
}
.about-2-list-item-icon {
  position: absolute;
  width: 52px;
  height: 52px;

  background: #e6f1f3;
  border-radius: 5px;
  text-align: center;
}
.about-2-list-item-icon img {
  width: 23.3px;
  padding-top: 16px;
  height: 17.7px;
}
.about-2-list-item-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  width: 487.18px;
  height: 114px;
  left: 121px;
  position: absolute;
}
.about-2-list-item-title {
  height: 42px;
  font-family: "SVN-Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 150%;
  color: #000000;
}
.about-2-list-item-desc {
  width: 487.18px;
  height: 64px;

  /* SVN-Gilroy/Medium/Sub heading/Regular */

  font-family: "SVN-Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 150%;
  /* or 32px */

  /* Font/Heading */

  color: #111111;
}
.bg-about-2 {
  position: relative;
  width: 400px;
  height: 517.45px;
  left: 957px;
  top: -470px;
  background: #459a88;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.bg-about-2 div {
  position: absolute;
  width: 470px;
  height: 578.52px;
  left: 29px;
  top: -94px;
  background: url(img/about-2.png) no-repeat;
}
#Feature-order {
  position: absolute;
  width: 1548px;
  height: 1133px;
  left: 166px;
  top: 4000px;
}
.title-order {
  position: absolute;
  width: 464px;
  height: 68px;

  top: 32px;
}
.title-order span {
  font-family: "SVN-Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 57px;
  line-height: 120%;
}
.order-decs {
  position: absolute;
  width: 280px;
  height: 96px;
  left: 0px;
  top: 133px;
  background: white;
}

.bg-order {
  position: absolute;
  width: 945px;
  height: 952px;
  left: 599px;
  top: -47px;
  background: url(img/bg-2.png);
  box-shadow: 0px 20px 20px 5px rgb(148 148 148 / 15%);
}
.list-order {
  display: flex;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  position: absolute;
  width: 1348px;
  height: 1019px;
  flex-wrap: wrap-reverse;
  top: 131px;
}
.number-order {
  display: flex;
  gap: 32px;
}
.number-order-left span {
  position: absolute;
  width: 74px;
  height: 52px;
  /* left: 378px
px
; */
  top: 55px;
  font-family: "SVN-Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #111111;
}

.number-order-left p {
  position: absolute;
  width: 80px;
  height: 77px;
  /* left: 376px; */
  top: -63px;
  font-family: "SVN-Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 51px;
  line-height: 150%;
}
/* identical to box height, or 76px */
.number-order-center {
  position: absolute;
  width: 47px;
  height: 47px;
  left: 113Q;
  top: 8px;
  background: #f2f3f2;
  text-align: center;
  border-radius: 50%;
}
.number-order-right p {
  position: absolute;
  width: 74px;
  height: 77px;
  left: 179px;
  top: -65px;
  font-family: "SVN-Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 51px;
  line-height: 150%;
  color: #111111;
}
.number-order-right span {
  position: absolute;
  width: 94px;
  height: 24px;
  left: 174px;
  top: 55px;
  font-family: "SVN-Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #111111;
}

.list-order-item {
  width: 313px;
  height: 298px;

  background: #ffffff;
  box-shadow: 0px -2px 33px rgb(190 190 190 / 25%);
  border-radius: 7px;
  z-index: 100;
  padding: 30.5px 27.5px;
}
.category-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 16px;

  width: 161px;
  height: 32px;
}
.category-icon {
  width: 32px;
  height: 32px;
  background: #f9f6f3;
  text-align: center;
  border-radius: 50%;
}
.category-icon img {
  width: 10.43px;
  height: 10.43px;
  padding-top: 9px;
}
.category-item span {
  width: 113px;
  height: 18px;

  /* SVN-Gilroy/Medium/Small/Semibold */

  font-family: "SVN-Gilroy", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 150%;
  /* identical to box height, or 18px */

  text-align: center;

  /* Font/Body font */

  color: #757575;
}
.title-item {
  margin: 20px 0;
  width: 315px;
  height: 72px;
}
.title-item span {
  font-family: "SVN-Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 130%;
  /* or 36px */

  /* Font/Heading */

  color: #111111;
}
.job-information {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;

  width: 269px;
  height: 157.99px;
}
.information {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;

  width: 269px;
  height: 24px;
}
.information span {
  font-family: "SVN-Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}
.information img {
  width: 20px;
  height: 22px;
}
#banner {
  position: absolute;
  width: 100%;
  height: 179.97px;
  left: 0px;
  top: 5500px;

  /* Brand color */
  display: flex;
  background: #459a88;
  justify-content: center;
  gap: 124px;
}
.banner {
  display: flex;
}
#banner span {
  position: absolute;
  width: 221px;
  height: 49px;

  left: 233px;

  top: 57px;

  font-family: "SVN-Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 130%;

  /* or 49px */

  /* Background/Background 1 (White) */

  color: #ffffff;
}
.logo-dt {
  display: flex;
  display: flex;
  position: absolute;
  top: 40px;
  gap: 64px;
}
.logo-item img {
}

#internship-family {
  position: absolute;
  width: 1920px;
  height: 629px;
  left: 0px;
  top: 5680px;
  background-color: white;
}
.internship-family-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  position: absolute;
  width: 469px;
  height: 275px;
  left: 376px;
  top: 171px;
}

.internship-family-title-header {
  width: 369px;
  height: 27px;

  /* SVN-Gilroy/Medium/Sub heading/Bold */

  font-family: "SVN-Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 130%;
  /* or 27px */

  /* Brand Color/Brand Color 2 */

  color: #f5751d;
}
.internship-family-main-title {
  width: 369px;
  height: 136px;

  /* SVN-Gilroy/Heading Large/Bold */

  font-family: "SVN-Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 57px;
  line-height: 120%;
  /* or 68px */

  /* Font/Heading */

  color: #111111;
}
.internship -family-main-content {
  width: 469px;
  height: 72px;

  /* Medium/Paragraph/Regular */

  font-family: "SVN-Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}
.internship-1 {
  position: absolute;
  width: 470px;
  height: 117px;
  left: 975px;
  top: 111px;
  display: flex;
  box-shadow: 0px 20px 20px 5px rgb(148 148 148 / 15%);
  border-radius: 7px;
  /* padding-top: 17px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-right: 21px; */
}
.internship-2 {
  position: absolute;
  width: 470px;
  height: 117px;
  left: 1075px;
  top: 268px;
  box-shadow: 0px 20px 20px 5px rgb(148 148 148 / 15%);
  border-radius: 7px;
}
.internship-3 {
  position: absolute;
  width: 470px;
  height: 117px;
  left: 875px;
  top: 430px;

  box-shadow: 0px 20px 20px 5px rgb(148 148 148 / 15%);
  border-radius: 7px;
}
.avatar {
  width: 69px;
  height: 69px;
}
.inter-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 24px;
  position: absolute;
  width: 429px;
  height: 80px;
  left: 28px;
  top: 16px;
}
.internship-name {
  width: 133px;
  height: 24px;

  /* Medium/Paragraph/Bold */

  font-family: "SVN-Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */

  /* Font/Heading */

  color: #111111;
}
.internship-desc {
  width: 336px;
  height: 48px;

  /* Medium/Paragraph/Regular */

  font-family: "SVN-Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */

  /* Font/Heading */

  color: #111111;
}
.internship-profile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;

  width: 336px;
  height: 80px;
}
#hot-news {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 48px;

  position: absolute;
  width: 1170px;
  height: 694px;
  left: 375px;
  top: 6400px;
}
.hot-news-header {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 0px;

  width: 1169px;
  height: 68px;
}
.hot-news-title {
  width: 983px;
  height: 68px;

  /* SVN-Gilroy/Heading Large/Bold */

  font-family: "SVN-Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 57px;
  line-height: 120%;
  /* or 68px */

  /* Font/Heading */

  color: #111111;
}
.see-more {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;

  width: 107px;
  height: 24px;
}
.see-more span {
  width: 75px;
  height: 24px;

  /* Medium/Paragraph/Semibold */

  font-family: "SVN-Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */

  /* Brand Color/Brand Color 2 */

  color: #f5751d;
}
.hot-news-slider {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 30px;

  width: 1170px;
  height: 460px;
}
.hot-news-slide {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;

  width: 370px;
  height: 424px;
}
.hot-news-slide img {
  width: 370px;
  height: 230px;
}
.hot-news-slide-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;

  width: 370px;
  height: 162px;
}
.hot-news-title-slide {
  width: 370px;
  height: 72px;

  /* SVN-Gilroy/Medium/Heading Small/Bold */

  font-family: "SVN-Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 130%;
  /* or 36px */

  /* Font/Heading */

  color: #111111;
}
.hot-news-desc-slide {
  width: 370px;
  height: 74px;

  /* Medium/Paragraph/Regular */

  font-family: "SVN-Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */

  /* Font/Heading */

  color: #111111;
}
#collaborators {
  position: absolute;
  width: 1198.8px;
  height: 606.79px;
  left: 376.2px;
  top: 7227px;
}
.bg-collaborators {
  position: absolute;
  width: 400px;
  height: 517.45px;
  left: 750px;
  /* top: 6594.3px; */
  background: #459a88;
}
.img-collaborators {
  position: absolute;
  width: 468.54px;
  height: 576.72px;
  left: -104px;
  top: -88px;
  background: url(img/Group\ 33651.png);
  border-radius: 0px 100px;
}
.collaborators-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;

  width: 500px;
  height: 301px;
}
.collaborators-header {
  width: 500px;
  height: 27px;

  /* SVN-Gilroy/Medium/Sub heading/Bold */

  font-family: "SVN-Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 130%;
  /* or 27px */
  color: #f5751d;
}
.collaborators-title {
  width: 500px;
  height: 98px;

  /* SVN-Gilroy/Medium/Heading/Bold */
}
.collaborators-title span {
  font-family: "SVN-Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 130%;
  /* or 49px */

  /* Font/Heading */

  color: #111111;
}
.collaborators-desc {
  width: 499px;
  height: 128px;
}
.collaborators-desc span {
  font-family: "SVN-Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 150%;
  /* or 32px */

  /* Font/Heading */

  color: #111111;
}
.resgister {
  width: 170px;
  height: 46px;
  background: #459a88;
  border-radius: 7px;
  border: none;
}

.resgister span {
  font-family: "SVN-Gilroy", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */

  text-align: center;
  color: #ffffff;
}
.resgister-btn {
  position: absolute;
  width: 214px;
  height: 48px;
  left: 0px;
  top: 333px;

  border-radius: 7px;
}
#collaborators-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 72px 375px;
  gap: 10px;

  position: absolute;
  /* width: 1920px; */
  height: 1184.24px;
  left: -3px;
  top: 7800px;
}
.collaborators-bg-2 {
  position: absolute;
  width: 469.58px;
  height: 578px;
  left: 404.58px;
  top: 72px;
  background: url(img/bg2.png);
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.collaborators-content-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;

  position: absolute;
  width: 570px;
  height: 373px;
  left: 978.11px;
  top: 174px;
}
.collaborators-content-2-header {
  width: 500px;
  height: 27px;

  /* SVN-Gilroy/Medium/Sub heading/Bold */

  font-family: "SVN-Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 130%;
  /* or 27px */

  /* Brand Color/Brand Color 2 */

  color: #f5751d;
}
.collaborators-content-2-title {
  width: 570px;
  height: 98px;

  /* SVN-Gilroy/Medium/Heading/Bold */

  font-family: "SVN-Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 130%;
  /* or 49px */

  /* Font/Heading */

  color: #111111;
}
.collaborators-content-2-desc {
  width: 570px;
  height: 128px;

  /* SVN-Gilroy/Medium/Sub heading/Regular */

  font-family: "SVN-Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 150%;
  /* or 32px */

  /* Font/Heading */

  color: #111111;
  width: 570px;
  height: 128px;

  /* SVN-Gilroy/Medium/Sub heading/Regular */

  font-family: "SVN-Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 150%;
  /* or 32px */

  /* Font/Heading */

  color: #111111;
}
.collaborators-content-2-input {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;

  width: 400px;
  height: 48px;
}
.collaborators-input {
  width: 255px;
  height: 48px;
}
.collaborators-2-button {
  position: absolute;
  width: 147px;
  height: 53px;
  left: 263px;
  top: 347px;
  background: #459a88;
  border-radius: 0px 7px 7px 0px;
  border: none;
  display: flex;
  text-align: center;
}
.collaborators-2-button span {
  width: 62px;
  height: 24px;

  /* Medium/Paragraph/Semibold */

  font-family: "SVN-Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */

  text-align: center;

  /* Background/Background 1 (White) */

  color: #ffffff;

  padding-left: 32px;
  padding-top: 12px;
}
.collaborators-2-button img {
  padding-top: 11px;
  padding-left: 10px;
}
#footer{
  position: absolute;
  width: 1169px;


  left: 0px;
  top: 8491px;
 
}
.content-footer{
  width:1169px;
  height:462px;
display: flex;
padding: 90px;
 padding-bottom:44.52px;
 padding-left:375.5px;
 padding-right:375.5px;
 gap: 16px;

}
.address{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;

  width: 368px;
  
}
.address-title{
  width: 328.72px;
  height: 54px;
  
  /* SVN-Gilroy/Medium/Sub heading/Bold */
  
  font-family: 'SVN-Gilroy';
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 130%;

}
.address-list{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  
  width: 368px;
  height: 222px;
}
.address-item{
  display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 353px;

}
.address-item span{
  width: 305.11px;
height: 72px;

/* Medium/Paragraph/Regular */

font-family: 'SVN-Gilroy';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* or 24px */


color: #181818;
}
.about{

}
  

.footer-about-title{
  width: 122px;
height: 27px;

/* SVN-Gilroy/Medium/Sub heading/Bold */

font-family: 'SVN-Gilroy';
font-style: normal;
font-weight: 700;
font-size: 21px;
line-height: 130%;
/* or 27px */


color: #181818;

 
}.footer-about-list{
padding-left: 0px !important;
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 207px;
height: 104px;


}.footer-about-item{

  width: 158px;
  height: 24px;
  font-family: 'SVN-Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #181818;



/* Medium/Paragraph/Regular */


}
.footer-about-item span {


}
.services{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  
}
.footer-services-title{  
  width: 122px;
  height: 27px;
  
  /* SVN-Gilroy/Medium/Sub heading/Bold */
  
  font-family: 'SVN-Gilroy';
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 130%;
  /* or 27px */
  
  
  color: #181818;
  

}.footer-services-list{
padding-left: 0px !important;

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 207px;
height: 104px;

}
.footer-services-item{
  width: 158px;
  height: 24px;
  font-family: 'SVN-Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #181818;

}
.connect{
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
width: 100%;
height: 100%;
gap: 26px;
 background: url('img/Frame\ 33725.png')no-repeat;
}
@media only screen and (min-width: 1280px) {
  .slider-img {
    position: relative;
    height: 20px;
    float: right;
    right: -707px;
    left: 34px;
    top: 53px;
  }
  .test {
    position: absolute;
    float: right;
    width: 1523.5px;
    height: 770.12px;
    left: -201px;
    top: 106px;
  }
}
@media  only screen and (min-width :1366px){
  
}
@media screen and (min-width: 1920px) {
  #slider {
    width: 100%;
    height: 1000px;
  }
  .slider-content {
    position: absolute;
    width: 670px;
    height: 251px;
    left: 102px;
    top: 176px;
  }
  .slider-img {
    position: relative;
    height: 20px;
    float: right;
    right: -707px;
    left: -5px;
    top: 70px;
  }
  .img {
    content: url("img/1920x1080.png");
  }
  .test {
    position: absolute;
    float: right;
    width: 1523.5px;
    height: 770.12px;
    left: -12px;
    top: 249px;
  }
}
